* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrap {
    display: flex;
    width: 100%;
    flex-flow: wrap;
    padding: 20px;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.post-card {
    width: calc((100% - 8px)/5);
    border: 1px solid silver;
    padding: 5px 10px;
}

.post-card > h3 {
    text-align: center;
    margin-bottom: 10px;
}

.post-card > p {
    text-align: justify;
}

.post-card > h1 {
    text-align: center;
}
