* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    padding-top: 50px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 40px;
}

ul {
    padding-left: 100px;
}

li {
    font-size: 25px;
}

.example_2 {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-left: 100px;
    width: 80%;
    font-size: 20px;
}

.example_2 img {
    height: 300px;
}

.example_2_2 {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 20px;
}

.example_2_2 h2 {
    padding-bottom: 10px;
    font-size: 25px;
}

.example_2_2 p {
    width: 1000px;
}

.example_2_2 img {
    height: 300px;
}

.products {
    padding: 50px 100px;
    display: flex;
    justify-content: space-evenly;

}

.product-card {
    border: 2px solid silver;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 350px;
}

.product-title {
    font-size: 25px;
    text-transform: capitalize;
}

.product-card img {
    height: 300px;
}

